<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/post.css">
    <%- include ('fragments/global-head.ejs') %>
    <title>untitled social</title>
</head>
<body>

    <%- include('fragments/header.ejs')  %>

    <div class="scroll-container">
        <main>
            <% for (let post of feed) { %>
                <div class="post">
                    <table>
                        <tr>
                            <td>
                                <a href="/posts/<%= post.path %>" title="go to post">--/></a>
                            </td>
                            <td class="flex">
                                <span class="grow">from <a href="/posts/<%= post.author_path %>"><em><%= post.author %></em></a> · <span class="date-relative"><%= post.timestamp %></span></span>
                                <a href="/reply/<%= post.path %>">reply</a>
                            </td>
                        </tr>
                        <% if (post.replying_to) { %>
                            <tr>
                                <td>re:</td>
                                <td class="flex">
                                    <a class="grow" href="/posts/<%= post.replying_to.path %>">
                                        <%= post.replying_to.title %>
                                        <% if (post.replying_to.title == "[album]" || post.replying_to.title == "[image]" || post.replying_to.title == "[audio]") { %>
                                            · <span class="date-relative"><%= post.replying_to.timestamp %></span>
                                        <% } %>
                                    </a>
                                    <span>by <a href="/posts/<%= post.replying_to.author_path %>"><%= post.replying_to.author %></a></span>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                    <% if (post.body != '') { %>
                        <div class="content">
                            <%- post.preview_body %>
                            <% if (post.preview_body != post.body) { %>
                                <p class="read-more"><a href="/posts/<%= post.path %>">read more...</a></p>
                            <% } %>
                        </div>
                    <% } %>
                    <table>
                        <% if (post.reply_count > 0) { %>
                            <tr>
                                <td>
                                    <a href="/posts/<%= post.path %>">
                                        <%= post.reply_count %>
                                        <% if (post.reply_count > 1) { %>
                                            replies
                                        <% } else { %> 
                                            reply
                                        <% } %>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            <% } %>
    
            <% if (feed.length == 0) { %>
                <p><i>there are zero posts on this website!</i></p>
            <% } %>
    
            <% if (page == max_page) { %>
                <p><i>end of posts.</i></p>
            <% } %>
        </main>
    
        <footer>
            <nav>
                <% if (page > 1) { %>
                    <a href="/page/<%= Number(page) - 1%>"><···</a>
                <% } else { %>
                    <pre>   </pre>
                <% } %>
                <%= page %>
                <% if (page < max_page) { %>
                    <a href="/page/<%= Number(page) + 1 %>">···></a>
                <% } else { %>
                    <pre>   </pre>
                <% } %>
            </nav>

            <div class="flex">
                <a id="subscription-anchor" class="hidden" tabindex="0">get notifications</a>
                <a id="app-install-anchor" tabindex="0" href="/how-to-install">install on your phone</a>
                <span>v1.1</span>
            </div>
        </footer>
    </div>
    
</body>

<script src="/js/post.js"></script>
<script>
    treat_posts();

    //

    var install_prompt;
    var install_button = document.getElementById("app-install-anchor");
    
    window.addEventListener('beforeinstallprompt', e => {
        e.preventDefault();
        install_prompt = e;
        install_button.textContent = "install app";
        install_button.href = "";
        install_button.onclick = install_app;
    });

    window.addEventListener('appinstalled', disable_install_prompt);

    async function install_app() {
        if (!install_prompt) return;
        await install_prompt.prompt();
        disable_install_prompt();
    }

    function disable_install_prompt() {
        install_button.textContent = "install on your phone";
        install_button.href = "/how-to-install";
        install_button.onclick = null;
        install_prompt = null;
    }

    // enable push notifications

    var service_worker;

    window.addEventListener("load", async () => {
        service_worker = await navigator.serviceWorker.ready;
        if (service_worker) {
            var subscribe_button = document.getElementById("subscription-anchor");
            subscribe_button.onclick = subscribe;
            subscribe_button.classList.remove("hidden");
        }
    })

    async function subscribe() {
        if (!service_worker) return;
        let push = await service_worker.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: 'BOGPWXp9LKTvrB7CZzDnBKRcxmHW3xB-z4lnhXlzk-tH6gYAIIiZgwdht5Cvr9CIcQSQIlihicwCerc19os7A74'
        });

        let form = new FormData();
        form.append("data", JSON.stringify(push));

        let result = await fetch('/subscribe', {
            method: 'POST',
            body: form
        })
        .then(res => res.json())
        .catch(err => console.log(err))

        if (result) {
            console.log(result);
        } else {
            alert("error subscribing to push notifications--try again later?");
        }
    }
</script>

</html>