<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="<%= root %>css/post.css">
    <%- include ('fragments/global-head.ejs') %>
    <title>untitled social</title>
    <style>
        body {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100vh;
            height: 100svh;
        }

        .scroll-container {
            flex-grow: 1;
            overflow-y: scroll;
        }
    </style>
</head>
<body>

    <%- include('fragments/header.ejs')  %>

    <div class="scroll-container">
        <main>
            <% for (let post of feed) { %>
                <div class="post">
                    <table>
                        <tr>
                            <td>
                                <a href="<%= root %>posts/<%= post.path %>">--\></a>
                            </td>
                            <td class="flex">
                                <span class="grow">from <a href="<%= root %>posts/<%= post.author_path %>"><em><%= post.author %></em></a> · <span title="<%= post.timestamp %>"><%= post.date_informal %></span></span>
                                <a href="<%= root %>reply/<%= post.path %>">reply</a>
                            </td>
                        </tr>
                        <% if (post.replying_to) { %>
                            <tr>
                                <td>re:</td>
                                <td class="flex">
                                    <a class="grow" href="<%= root %>posts/<%= post.replying_to.path %>"><%= post.replying_to.title %></a>
                                    <span>by <a href="<%= root %>posts/<%= post.replying_to.author_path %>"><%= post.replying_to.author %></a></span>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                    <% if (post.body != '') { %>
                        <div class="content">
                            <%- post.preview_body %>
                            <% if (post.preview_body != post.body) { %>
                                <p class="read-more"><a href="<%= root %>posts/<%= post.path %>">read more...</a></p>
                            <% } %>
                        </div>
                    <% } %>
                    <table>
                        <% if (post.reply_count > 0) { %>
                            <tr>
                                <td>
                                    <a href="<%= root %>posts/<%= post.path %>">
                                        <%= post.reply_count %>
                                        <% if (post.reply_count > 1) { %>
                                            replies
                                        <% } else { %> 
                                            reply
                                        <% } %>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            <% } %>
    
            <% if (feed.length == 0) { %>
                <p><i>there are no posts here yet. you'll be the first to make one!</i></p>
            <% } %>
    
            <% if (page == max_page) { %>
                <p><i>end of posts.</i></p>
            <% } %>
        </main>
    
        <footer>
            <nav>
                <% if (page > 1) { %>
                    <a href="<%= root %>page/<%= Number(page) - 1%>">&lt;--</a>
                <% } else { %>
                    <pre>   </pre>
                <% } %>
                <%= page %>
                <% if (page < max_page) { %>
                    <a href="<%= root %>page/<%= Number(page) + 1 %>">--&gt;</a>
                <% } else { %>
                    <pre>   </pre>
                <% } %>
            </nav>
        </footer>
    </div>
    
</body>

<script src="<%= root %>js/post.js"></script>
<script>
    treat_posts();
</script>

</html>