<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('fragments/global-head.ejs') %>
    <title>untitled social</title>
    <link rel="stylesheet" href="/css/index.css">
    <style>
        main {
            gap: .5em;
        }
    </style>
</head>
<body>

    <%- include('fragments/header.ejs')  %>

    <main class="posts-list">
        <% for (let i=0; i<posts.length; i++) { %>
            <% let post = posts[i] %>

            <div class="indexed-post">
                <span><%= posts.length - i %></span>
                <a class="title" href="/posts/<%= post.path %>">
                    <%= post.title %>
                </a>
                <a style="white-space: pre" href="/posts/<%= post.author_path %>"><em><%= post.author %></em></a>
                <span title="<%= post.timestamp %>"><%= post.date %></span>
            </div>
        <% } %>
    </main>
    
</body>

</html>