<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/post.css">
    <%- include ('fragments/global-head.ejs') %>
    <link rel="stylesheet" href="/css/new.css">
    <title>+ new post</title>
</head>
<body>

    <div style="display: none" id="replying_to">
        <% if (locals.replying_to) { %>
            <%= replying_to.path %>
        <% } %>
    </div>

    <%- include('fragments/header.ejs')  %>

    <main>
        <div>
            <label>name</label><br>
            <input autofocus type="text" placeholder="anonymous" id="post-name">

            <br><br>

            <label>post</label><br>
            <div id="post-builder"></div>

            <div class="buttonbar">
                <span>+</span>
                <button onclick="add_post_block('text')">text</button>
                <button onclick="add_post_block('upload')">file(s)</button>
                <button onclick="add_post_block('rec')">rec</button>
                <button onclick="add_post_block('draw')">draw</button>
                <span class="grow"></span>
                <button onclick="confirm_dialog.showModal()">post!</button>
            </div>

            <p>
                <details>
                    <summary>formatting tips</summary>
                    <p>hello. here are some ways to spice up your text, if you want to. (this website uses a modified version of markdown formatting.)</p>
                    <table>
                        <tr>
                            <th>STYLE</th>
                            <th>TYPE IT LIKE THIS</th>
                            <th>& IT'LL LOOK LIKE THIS</th>
                        </tr>
                        <tr>
                            <th>italic</th>
                            <td>*italic text*</td>
                            <td><i>italic text</i></td>
                        </tr>
                        <tr>
                            <th>bold</th>
                            <td>**bold text**</td>
                            <td><b>bold text</b></td>
                        </tr>
                        <tr>
                            <th>bold and italic</th>
                            <td>***bold and italic text***</td>
                            <td><b><i>bold and italic text</i></b></td>
                        </tr>
                        <tr>
                            <th>strikethrough</th>
                            <td>~~strikethrough~~</td>
                            <td><s>strikethrough</s></td>
                        </tr>
                        <tr>
                            <th>heading 1</th>
                            <td># heading 1</td>
                            <td><h1>heading 1</h1></td>
                        </tr>
                        <tr>
                            <th>heading 2</th>
                            <td>## heading 2</td>
                            <td><h2>heading 2</h2></td>
                        </tr>
                        <tr>
                            <th>link</th>
                            <td>[link](https://website.com)</td>
                            <td><a href="/">link</a></td>
                        </tr>
                        <tr>
                            <th>read more...</th>
                            <td>---</td>
                            <td>breaks your post into two. everything under the dashes becomes hidden until a user clicks <a>read more...</a>.<br>(the dashes should be on its own line.)</td>
                        </tr>
                    </table>
                </details>
            </p>
        </div>

        <% if (locals.replying_to) { %>
            <div class="replying-to">
                <div class="post">
                    <table>
                        <tr>
                            <td>
                                <% if (replying_to.body == '') { %>
                                    replying to
                                    <a href="/posts/<%= replying_to.path %>">a shout</a>
                                    by 
                                    <a href="/posts/<%= replying_to.path %>"><em><%= replying_to.author %></em></a>...
                                <% } else { %>
                                    replying to
                                    <a href="/posts/<%= replying_to.path %>">this post</a>
                                    by 
                                    <a href="/posts/<%= replying_to.author_path %>"><em><%= replying_to.author %></em></a>...
                                <% } %>
                            </td>
                        </tr>
                        <% if (replying_to.replying_to) { %>
                            <tr>
                                <td>re:</td>
                                <td>
                                    <a href="/posts/<%= replying_to.replying_to.path %>"><%= replying_to.replying_to.title %></a>
                                    <span>by <a href="/posts/<%= replying_to.replying_to.author_path %>"><%= replying_to.replying_to.author %></a></span>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                    <% if (replying_to.body != '') { %>
                        <div class="content">
                            <%- replying_to.body %>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </main>

    <template id="text-block-template">
        <div class="text block" data-type="text">
            <textarea oninput="this.style.height=''; this.style.height=this.scrollHeight+'px'" placeholder="write here"></textarea>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="upload-block-template">
        <div class="upload block" data-type="upload">
            <div class="drop-zone" 
                ondrop="drop(this.parentElement, this, event)" 
                ondragover="dragover(this, event)" 
                ondragleave="this.classList.remove('dragover')"
            >
                <div class="center">
                    drop file(s) here to upload<br>
                    or <button onclick="this.nextElementSibling.click()">browse</button>
                        <input type="file" name="file" multiple="multiple" onchange="add_files(this.parentElement.parentElement.parentElement, this.files)">
                </div>
            </div>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="image-block-template">
        <div class="image block" data-type="image">
            <img src="" alt="">
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="video-block-template">
        <div class="video block" data-type="video">
            <video controls>
                <source src="" type="">
            </video>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="album-block-template">
        <div class="album block" data-type="album">
            <div class="slides-wrapper"><div class="slides"></div></div>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="audio-block-template">
        <div class="audio block" data-type="audio">
            <audio controls>
                <source src="" type="">
            </audio>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="rec-block-template">
        <div class="rec block">
            <div class="wrapper">
                <img src="/res/microphone.png">
                <div class="time">0:00</div>
                <button>stop</button>
            </div>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <template id="draw-block-template">
        <div class="draw block" data-type="image">
            <canvas width="300" height="300"></canvas>
            <div class="buttons">
                <button class="pencil"><img src="/res/pencil.png" alt="pencil" title="pencil"></button>
                <button class="eraser"><img src="/res/eraser.png" alt="eraser" title="eraser"></button>
            </div>
            <%- include('fragments/post-options.ejs') %>
        </div>
    </template>

    <dialog id="confirm-dialog">
        ready to post?<br>
        posts can't be deleted or edited, so make sure everything looks good!<br>
        <br>
        <button class="dialog-close-button" onclick="this.parentElement.close()">cancel</button>
        <button onclick="this.parentElement.close(); upload_post()">ready!</button>
    </dialog>

    <dialog id="upload-dialog">
        uploading post...
        <br><br>
        <button class="dialog-close-button" onclick="uploading_post=false; this.parentElement.close()">cancel</button>
    </dialog>
    
</body>

<script src="/js/post.js"></script>
<script src="/js/postbuilder.js"></script>
<script>
    treat_posts();
</script>

</html>