<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/index.css">
    <%- include ('fragments/global-head.ejs') %>
    <title><%= title %></title>
    <style>
        .posts-list {
            width: var(--max-post-width);
        }
    </style>
</head>
<body>

    <%- include('fragments/header.ejs') %>

    <main>
        <div class="post">
            <table>
                <tr>
                    <td>
                        <a tabindex="0" onclick="history.back()">
                            &lt;\--
                        </a>
                    </td>
                    <td class="flex">
                        <span class="grow">from <a href="/posts/<%= author_path %>"><em><%= author %></em></a> · <span class="date-relative"><%= timestamp %></span></span>
                        <a href="/reply/<%= path %>">reply</a>
                    </td>
                </tr>
                <% if (locals.replying_to) { %>
                    <tr>
                        <td>re:</td>
                        <td class="flex">
                            <a class="grow" href="/posts/<%= replying_to.path %>"><%= replying_to.title %></a>
                            <span>by <a href="/posts/<%= replying_to.author_path %>"><%= replying_to.author %></a></span>
                        </td>
                    </tr>
                <% } %>
            </table>
            <% if (body != '') { %>
                <div class="content">
                    <%- body %>
                </div>
            <% } %>
        </div>

        <% if (locals.replies && replies.length > 0) { %>
            <div class="posts-list">
                <p>replies:</p>
                <% for (let i=0; i<replies.length; i++) { %>
                    <% let post = replies[i] %>
                    <div class="indexed-post">
                        <span><%= replies.length - i %></span>
                        <a class="title" href="/posts/<%= post.path %>">
                            <%= post.title %>
                        </a>
                        <a style="white-space: pre" href="/posts/<%= post.author_path %>"><em><%= post.author %></em></a>
                        <span class="date"><%= post.timestamp %></span>
                    </div>
                <% } %>
            </div>
        <% } %>
    </main>
    
</body>

<script src="/js/post.js"></script>
<script src="/js/index.js"></script>
<script>
    treat_posts();
    treat_index(document.querySelector(".posts-list"));
</script>
</html>