<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="<%= root %>css/post.css">
    <link rel="stylesheet" href="<%= root %>css/index.css">
    <%- include ('fragments/global-head.ejs') %>
    <title><%= title %></title>
    <style>
        .post {
            width: var(--max-post-width);
        }
        .post > div {
            background: white;
            border-color: white;
            border-bottom: 1px dotted rgb(129, 129, 129);
        }
        .post > div:last-child {
            border-bottom-color: white;
        }

        .posts-list {
            font-family: monospace;
            width: fit-content;
            max-width: 100%;
        }
    </style>
</head>
<body>

    <%- include('fragments/header.ejs') %>

    <main>
        <div class="post">
            <div class="metadata">
                <a onclick="history.back()">
                    &lt;\--
                </a>
                <span>from <a href="<%= root %>posts/<%= author_path %>"><em><%= author %></em></a> on <%= date %></span>
                <a href="<%= root %>reply/<%= path %>">reply</a>
            </div>
            <% if (replying_to) { %>
                <div class="reply">
                    <span>re:</span>
                    <span><a href="<%= root %>posts/<%= replying_to.path %>"><%= replying_to.title %></a></span>
                    <span>by <a href="<%= root %>posts/<%= replying_to.author_path %>"><%= replying_to.author %></a></span>
                </div>
            <% } %>
            <% if (body != '') { %>
                <div class="content">
                    <%- body %>
                </div>
            <% } %>
        </div>

        <% if (replies.length > 0) { %>
            <div class="posts-list">
                <p>replies:</p>
                <% for (let i=0; i<replies.length; i++) { %>
                    <% let post = replies[i] %>
                    <div class="indexed-post">
                        <span><%= replies.length - i %></span>
                        <a class="title" href="<%= root %>posts/<%= post.path %>">
                            <%= post.title %>
                        </a>
                        <a style="white-space: pre" href="<%= root %>posts/<%= post.author_path %>"><em><%= post.author %></em></a>
                        <span title="<%= post.timestamp %>"><%= post.date %></span>
                    </div>
                <% } %>
            </div>
        <% } %>
    </main>
    
</body>

<script src="<%= root %>js/post.js"></script>
<script>
    treat_posts();
</script>
</html>