<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/post.css">
    <%- include ('fragments/global-head.ejs') %>
    <title><%= title %></title>
</head>
<body>

    <%- include('fragments/header.ejs') %>

    <div class="scroll-container">
        <main>
            <% if (timestamp != -1) { %>
                <% if (!locals.live || locals.live == false) { %>
                    <div class="post-not-live-banner">
                        <em>this post is being processed :)</em><br>
                        <span>you don't have to stay here, but the page will automatically refresh once your post is live.</span>
                    </div>
                <% } %>

                <div class="post">
                    <table>
                        <tr>
                            <td>
                                <a tabindex="0" onclick="history.back()">
                                    &lt;\--
                                </a>
                            </td>
                            <td class="flex">
                                <span class="grow">from <a href="/posts/<%= author_path %>"><em><%= author %></em></a> · <span class="date-relative"><%= timestamp %></span></span>
                                <a href="/reply/<%= path %>">reply</a>
                            </td>
                        </tr>
                        <% if (locals.replying_to) { %>
                            <tr>
                                <td>re:</td>
                                <td class="flex">
                                    <a class="grow" href="/posts/<%= replying_to.path %>"><%= replying_to.title %></a>
                                    <span>by <a href="/posts/<%= replying_to.author_path %>"><%= replying_to.author %></a></span>
                                </td>
                            </tr>
                        <% } %>
                    </table>
                    <% if (body != '') { %>
                        <div class="content">
                            <%- body %>
                        </div>
                    <% } %>
                </div>

                <% if (locals.replies && replies.length > 0) { %>
                    <div><p style="font-family: monospace">replies:</p></div>
                    <% for (let i=0; i<replies.length; i++) { %>
                        <% let post = replies[i] %>
                        <div class="post">
                            <table>
                                <tr>
                                    <td>
                                        <a href="/posts/<%= post.path %>" title="go to post">--/></a>
                                    </td>
                                    <td class="flex">
                                        <span class="grow">from <a href="/posts/<%= post.author_path %>"><em><%= post.author %></em></a> · <span class="date-relative"><%= post.timestamp %></span></span>
                                        <a href="/reply/<%= post.path %>">reply</a>
                                    </td>
                                </tr>
                            </table>
                            <% if (post.body != '') { %>
                                <div class="content">
                                    <%- post.preview_body %>
                                    <% if (post.preview_body != post.body) { %>
                                        <p class="read-more"><a href="/posts/<%= post.path %>">read more...</a></p>
                                    <% } %>
                                </div>
                            <% } %>
                            <table>
                                <% if (post.reply_count > 0) { %>
                                    <tr>
                                        <td>
                                            <a href="/posts/<%= post.path %>">
                                                <%= post.reply_count %>
                                                <% if (post.reply_count > 1) { %>
                                                    replies
                                                <% } else { %> 
                                                    reply
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    <% } %>
                <% } %>
            <% } else { %>
                <p>this post does not exist!</p>
                <p>
                    <a tabindex="0" onclick="history.back()">
                        &lt;\--
                    </a>
                </p>
            <% } %>
        </main>
    </div>
    
</body>

<script src="/js/post.js"></script>
<script>
    treat_posts();

    // post is not live
    if (document.querySelector(".post-not-live-banner")) {
        check_live();
    }

    async function check_live() {
        var json = await fetch(window.location.href + '/is-live', {
            method: 'GET',
        })
        .then(res => res.json())
        .catch(err => console.log(err))

        if (json && (json.live || json.post_not_found)) {
            if (json.post_not_found) {
                alert("this post was purged due to an error! you probably got unlucky and posted it right as the server was being restarted. sorry about that!");
                history.back();
            } else if (json.live) {
                window.location.reload();
            }
        } else {
            setTimeout(check_live, 1000);
        }
    }
</script>
</html>